$blue-clr : '#113f8f';
.blue{
    margin-top: 10px;
    position: relative;
}
.blue>ion-col {
    // background-color: #113f8f;
    background-color:#3880ff;
    border: white 1px solid;
    border-radius: 5px;
    height: 48px;
    padding: 1px 0px 0px 6px;
}
.fare{
    margin-top: 2px;
    font-size: 10px;
}

.blue>ion-col>strong ,small {
    color: white;
}
.city{
    font-size: 14px;
}
.date {
    font-size: 12px;
}
.filter {
    margin-top: 400px;
    margin-left: 180px;
}
.sort {
    margin-top: 400px;
    margin-left: 130px;
}
.float{
    position: fixed;
    bottom: calc( 2.25rem + 1px );
    right: calc( 6.25rem + 1px );
}
.nodata{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    color: grey;
}

.return{
    border: 1px #5269db solid;
    border-radius: 10px;
    box-shadow: black;
    margin-top: 10px;
    padding-bottom: 5px;
    padding: 5px;
}
.hours-sec> span{
display: inline-block;
width: 3px;
height: 3px;
background: green;
border-radius: 50%;
}
.hours-sec{
    position: relative;
    border-bottom: green 1px solid;
    height: 4px;
    margin-top: 18px
}
.span-1{
    position: absolute;
    margin-top: 2px;
}
.span-2{
    position: absolute;
    margin-left: 50%;
    margin-top: 2px;
}
.span-3{
    float: right;
    margin-top: 2px;
    display: inline-block;
}
.center-sec{
    position: relative;
    .time{
        position: absolute;
        margin-left:20px;
    }
    .s-qty{
        position: absolute;
        margin-left: 25px; 
    }
}
.right{
    float: right;
}
strong{
    font-size: 12px;
}
ion-card-title{
    font-size: 14px;
    margin-left: 5px;
}
.class-type{
    font-size: 10px;
}
.yellow-div{
    position: absolute;
    background: #894f14;
    width: 60px;
    height: 14px;
    border-radius: 3px;
    z-index: 9;
    margin: -10px 0px 0px 24px;
    text-align: center;
}
.margin-top-10{
    margin-top:10px;
}
ion-card-header{
    position: relative;
}
ion-card-title{
    position:absolute;
    margin: -30px 0px 0px 48px;
}
.spinner {
    background: #f6f8fb;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0.5;
  }
