<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center mr-10" *ngIf="queryParams">
            <span class="city">{{queryParams?.departure}} <ion-icon name="arrow-forward">
                </ion-icon> {{queryParams?.destination}}</span> <br>
            <span class="date"> {{queryParams?.departureDate | date}} <span *ngIf="queryParams?.returnDate">-</span>
                {{queryParams?.returnDate | date }} |
                {{queryParams?.travelers}} Adult</span>
        </ion-title>
        <ion-buttons slot="end" (click)="openPage('/home')">
            <ion-button>
                <ion-icon name="pencil" slot="icon-only" class="white top-btn" no-margin>
                </ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <span class="spinner" *ngIf="loading">
        <ion-row>
            <ion-col class="nodata">
                <ion-spinner name="bubbles" class="ion-text-center mr-10"></ion-spinner>
            </ion-col>
        </ion-row>
    </span>
    <span *ngIf="flightData && flightData.length; else noData;">
        <ion-card *ngFor="let flight of flightData">
            <ion-card-header>
                <ion-thumbnail>
                    <img src="../../../assets/icon/{{flight.airLineName}}.png">
                </ion-thumbnail>
                <ion-card-title>{{flight.airLineName}}</ion-card-title>
            </ion-card-header>


            <ion-card-content>
                <ion-row>
                    <ion-col size="4">
                        <strong>{{flight.DepartureDateTime | date: 'shortTime'}}</strong>
                        <br>
                        <span>{{flight.DepartureAirportCode}}</span>

                    </ion-col>
                    <ion-col class="center-sec" size="4">
                        <span class="time">{{getDataDiff(flight.DepartureDateTime,flight.DestinationDateTime)}}</span>
                        <div class="hours-sec">
                            <span class="span-1"></span>
                            <span class="span-2" *ngIf="flight.StopQuantity > 0"></span>
                            <span class="span-3"></span>
                        </div>
                        <span class="s-qty">{{flight.StopQuantity}} Stop</span>
                    </ion-col>
                    <ion-col size="4">
                        <strong class="right">{{flight.DestinationDateTime | date: 'shortTime'}}</strong>
                        <br>
                        <span class="right">{{flight.DestinationAirportCode}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="blue">
                    <ion-col size="4" *ngFor="let class of flight.BookingClassFare">
                        <small class="yellow-div" *ngIf="class.Availability < '3'"> {{class.Availability}} Seat
                            left</small>
                        <strong class="fare">{{class.adultFare | currency}}</strong><br>
                        <small class="class-type">{{class.classType}}</small>
                    </ion-col>
                </ion-row>
                <div class="return" *ngIf="flight.returnStatus && queryParams?.tripTypeField == '1'">
                    <ion-badge color="primary">Return</ion-badge>
                    <ion-row>
                        <ion-col size="4">
                            <strong>{{flight.returnStatus.DepartureDateTime | date: 'shortTime'}}</strong>
                            <br>
                            <span>{{flight.returnStatus.DepartureAirportCode}}</span>

                        </ion-col>
                        <ion-col class="center-sec" size="4">
                            <span
                                class="time">{{getDataDiff(flight.returnStatus.DepartureDateTime,flight.returnStatus.DestinationDateTime)}}</span>
                            <div class="hours-sec">
                                <span class="span-1"></span>
                                <span class="span-2" *ngIf="flight.returnStatus.StopQuantity > 0"></span>
                                <span class="span-3"></span>
                            </div>
                            <span class="s-qty">{{flight.returnStatus.StopQuantity}} Stop</span>

                        </ion-col>
                        <ion-col size="4">
                            <strong class="right">{{flight.returnStatus.DestinationDateTime | date:
                                'shortTime'}}</strong>
                            <br>
                            <span class="right">{{flight.returnStatus.DestinationAirportCode}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="blue">
                        <ion-col size="4" *ngFor="let class of flight.returnStatus.BookingClassFare">
                            <strong class="fare">{{class.adultFare | currency}}</strong><br>
                            <small class="class-type">{{class.classType}}</small>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>
        </ion-card>
    </span>

    <ng-template #noData>
        <ion-row>
            <ion-col class="nodata">
                <p>No Record Found...</p>
            </ion-col>
        </ion-row>
    </ng-template>

    <span class="float">
        <ion-button color="light" size="small" (click)="openPage('/sort')">Sort By</ion-button>
        <ion-button color="light" size="small" (click)="openPage('/filter')">Filter</ion-button>
    </span>
</ion-content>