<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-10">
      Sort By
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-radio-group [value]="selectedValue" (ionChange)="selectedVal($event)">
      <ion-item *ngFor="let sort of sortByData">
        <ion-label>{{sort.name}}</ion-label>
        <ion-radio slot="start" value="{{sort.id}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row class="foo">
    <ion-col>
      <ion-button expand="block" color="success" (click)="submit()">Done</ion-button>
    </ion-col>
  </ion-row>
</ion-content>