<ion-app>
  <ion-menu class="header" contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-center mr-10"><span class="light-blue">cx</span>Loyalty</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list (click)="openEnd()" class="mb-35">
        <ion-item routerLink="/">Flight</ion-item>
        <ion-item routerlink="">Hotels</ion-item>
        <ion-item routerlink="">Cars</ion-item>
        <ion-item routerlink="">Add</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>