<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-10">
      Filter By
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <form [formGroup]="filterForm" *ngIf="filterForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Price Range</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Minimum</ion-label>
                <ion-input type="number" step="100" minimum="2000" maximum="49000" formControlName="minimum" disabled>
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Maximum</ion-label>
                <ion-input type="number" step="100" minimum="3000" maximum="50000" formControlName="maximum" disabled>
                </ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-range id="dual-range" min="1000" max="50000" step="100" (ionChange)="getStepValue($event)"
              [value]="stepValue" dual-knobs pin color="dark">
              <span slot="start"></span>
              <span slot="end"></span>
            </ion-range>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Preferred Airlines</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let data of airlineData">
            <ion-col>
              <ion-item>
                <ion-checkbox slot="start" [checked]="data.isChecked"
                  (click)="onChange(data.name, $event.target.checked)">
                </ion-checkbox>
                <ion-label>{{data.name}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-row class="foo">
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="onReset()">Reset All</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="onSubmit()">Apply</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>