
// ion-input {
//     border : 1px solid;
// }
// .label{
//   position:absolute;
//   top:-1px;
//   left:20px;
//   background-color:white;
// }
// ion-toolbar{
//     background: blue;
// }
.toolbar-container{
    // background: #113f8f !important;
  }
 
  .item{
    border: 1px grey solid;
    border-radius: 5px;
  }
  .label-parent{
    position: relative;
  }
  .label-child{
    position: absolute;
    margin: -8px 6px 0px 20px;
    z-index: 99999;
    background: white;
    font-weight: bold;
    color: grey;
    font-size: 14px;
  }
  form{
    margin-top: 20px;
  }
  ion-row{
    margin-top: 15px;
  }
  .light-blue{
    color:lightblue
  }
  ion-slides{
    height: 100%;
  }
  ion-select::part(icon) {
    display: none !important;
   }
  .m-8{
    margin:8px;
  }
   