<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-10"><span class="light-blue">cx</span>Loyalty</ion-title>
  </ion-toolbar>
  <ion-toolbar class="segmenttoolbarSection">
    <ion-segment mode="md" scrollable="true" id="dag" class="segSection">
      <ion-segment-button [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" no-margin no-padding
        class="my-btn" [value]="item.title" [ngClass]="{'btn-active':test1 == item.title}">
        <span>
          <ion-icon name="{{item.icon}}"></ion-icon>
          {{item.title}}
        </span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding color="">
  <ion-slides pager="false" #Slides>
    <ion-grid>
      <form [formGroup]="flightSearchForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col class="label-parent">
            <ion-label class="label-child">Trip</ion-label>
            <ion-item class="item">
              <ion-select class="custom-options" formControlName="tripTypeField">
                <ion-select-option value="0">One Way</ion-select-option>
                <ion-select-option value="1">Round Trip</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col class="label-parent">
            <ion-label class="label-child">Departure</ion-label>
            <ion-item class="item">
              <ion-input formControlName="departure" placeholder="BOM"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="label-parent">
            <ion-label class="label-child">Destination</ion-label>
            <ion-item class="item">
              <ion-input formControlName="destination" placeholder="BLR"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="label-parent">
            <ion-label class="label-child">Departure Date</ion-label>
            <ion-item class="item">
              <ion-datetime formControlName="departureDate" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"
                min="2021-11-24" max="2050-12-09"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="label-parent">
            <ion-label class="label-child">Return Date</ion-label>
            <ion-item class="item">
              <ion-datetime formControlName="returnDate" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"
                min="2021-11-24" max="2050-12-09">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="label-parent">
            <ion-label class="label-child">Travelers</ion-label>
            <ion-item class="item">
              <ion-select class="custom-options" formControlName="travelers">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6" class="label-parent">
            <ion-label class="label-child">Class</ion-label>
            <ion-item class="item">
              <ion-select class="custom-options" formControlName="class">
                <ion-select-option value="basic">Basic</ion-select-option>
                <ion-select-option value="cabin">Cabin</ion-select-option>
                <ion-select-option value="economy">Economy</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="label-parent">
            <ion-button class="foo m-8" expand="block" color="success" type="submit"
              [disabled]="!flightSearchForm.valid">
              Search
              Flights
            </ion-button>
          </ion-col>
        </ion-row>

      </form>
    </ion-grid>
  </ion-slides>
</ion-content>